*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: lime;
}

.div1{
	width: 1280px;
	margin: 20px auto;
	text-align: center;
}

.div1 h1{
	color: #663d6e;
	font-size: 50px;
	font-family: Consolas,"Times New Roman",Symbol;
    font-style: italic;
    font-weight: bold;
}

.div1 p{
	color: #06475e;
	font-size: 25px;
	font-family: tahoma;
	line-height: 40px;
	margin-top: 10px;
	text-align: left;
}

.div2 p{
	color: red;
	font-size: 25px;
	font-family: tahoma;
	line-height: 40px;
	margin-top: 10px;
	text-align: left;
}