@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-fundo: #68150A;
    --cor-texto: #D6976F;
    --cor-destaque: green;
    --cor-borda: aqua;
    --cor-link: white;
    --cor-link-hover-texto: black;
    --cor-rodape: #0a0706;
    --fonte-titulo: 'Krona One', sans-serif;
    --fonte-texto: 'Montserrat', sans-serif;
    --espaco-principal: 40px;
}

* {
    margin: 0;
    padding: 0;
} /* RESET MARGEM E PREENCHIMENTO */

body{
    box-sizing: border-box; /* NAO SAIR OS ELEMENTOS DA TELA */
    /* height: 100vh; /* ALTURA  DA TELA */
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

.cabecalho{
    margin: 0; /* REMOVE MARGEM EXTERNA */
    padding: 2% 0% 0% 5%; /* ADICIONA ESPAÇAMENTO INTERNO NO TOPO E NA BASE */
}

.cabecalho__menu{
    display: flex; /* ATIVA O FLEXBOX NO MENU */
    gap: 25px; /* ESPAÇO ENTRE OS ITENS DO MENU */
}

.cabecalho__menu__link{
    font-family: var(--fonte-texto);
    font-size: 18px;
    font-weight: 600; /* PESO DA FONTE */
    background-color: var(--cor-fundo); /* COR DE FUNDO DO CABEÇALHO */
    text-decoration: none; /* REMOVE O SUBLINHADO DOS LINKS */
}

.titulo{    
    color: var(--cor-destaque);
}

.principal{
    display: flex; /*  organizar os elementos  */
    align-items: center; /* ALINHA OS ITENS */
    justify-content: center; /* Mantém o conteúdo e a imagem próximos */
    gap: var(--espaco-principal);
    /*margin: 10% 15%; */
    padding: 1% 5%;
} /* FECHA .principal */

.principal__conteudo{
    width: 615px;
}

.principal__conteudo_titulo{
    font-size: 36px;
    font-family: var(--fonte-titulo);
}

.principal__conteudo_texto{
    margin-top: 2%;
    font-size: 24px;
    font-family: var(--fonte-texto);
}

.links{
    margin-top: 2%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 5px;
}

.links_subtitulo{
    font-family: var(--fonte-titulo);
    font-size: 15px;
    font-weight: 400;
}

.links__a{
    /* background-color: aquamarine; */
    width: 380px;
    height: 40px;
    display: flex; /* ATIVA O FLEXBOX NO BOTÃO */
    align-items: center; /* CENTRALIZA VERTICALMENTE */
    justify-content: center; /* CENTRALIZA HORIZONTALMENTE */
    gap: 16px; /* ESPAÇO ENTRE O ÍCONE E O TEXTO */
    border-radius: 8px; /* ARREDONDAMENTO DAS BORDAS */
    font-size: 24px;
    text-decoration: none;
    color: var(--cor-link);
    margin-top: 1%;
    border: 2px solid var(--cor-borda);
}

.links__a:hover{ /* EFEITO AO PASSAR O MOUSE */
    background-color: var(--cor-borda);
    color: var(--cor-link-hover-texto);
}

.footer__texto{
    font-family: var(--fonte-texto);
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    background-color: var(--cor-rodape);
    padding: 10px 0; /* ADICIONA ESPAÇAMENTO INTERNO NO TOPO E NA BASE */
}